<header class="header">
    <div class="logo">WanderToWonder</div>
    <nav class="nav">
        <div class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
        </div>
        <div class="nav-item">
            <a href="dubai.html" class="nav-link">Dubai</a>
        </div>
        <div class="nav-item">
            <a href="srilanka.html" class="nav-link">Sri Lanka</a>
        </div>
        <div class="nav-item">
            <a href="australia.html" class="nav-link">Australia</a>
        </div>
        <div class="nav-item has-dropdown">
            <span class="nav-link">India</span>
            <div class="dropdown-menu">
                <a href="statue-of-unity.html" class="dropdown-item">Statue of Unity</a>
                <a href="dapoli.html" class="dropdown-item">Dapoli</a>
                <a href="alibaug.html" class="dropdown-item">Alibaug</a>
            </div>
        </div>
    </nav>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>